body {
    background-color: #000000;
}

.to-do-list {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 80px;
}

#title {
    font-size: 3rem;
    color: white;
    margin-bottom: 50px;
}

input[type="text"] {
    font-size: 1.2rem;
    padding: 10px;
    border: 2px solid #7474745d;
    color: #333333;
    margin-bottom: 20px;
}

button {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px 10px;
    color :white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

.add-button {
    background-color: #11ca11;
    margin-left: 10px;
}
.add-button:hover {
    background-color: green;
    transform: scale(1.1);
}

.delete-button {
    background-color: #f5420b;
    margin-left: 10px;
}
.delete-button:hover {
    background-color: #ce120b;
    transform: scale(1.1);
}

.move-up-button {
    background-color: #1babff;
    margin-left: 10px;
}
.move-up-button:hover {
    background-color: #0078bd;
    color: #11ca11;
    transform: scale(1.1);
}

.move-down-button {
    background-color: #1babff;
    margin-left: 10px;
}
.move-down-button:hover {
    background-color: #0078bd;
    color: #f5420b;
    transform: scale(1.1);
}

ol {
    padding: 0;
}

li {
    padding: 15px;
    background-color: rgba(202, 202, 202, 0.24);
    margin-bottom: 10px;
    border: 2px solid rgba(128, 128, 128, 0.288);
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: white;
}

.text {
    flex: 1;
    font-size: 1.4rem;
}